.header {
    width:100%;
    height:100vh;
    position: relative;

    @media only screen and (max-width: $bp-largest) {
      height: 60vw;
    }
   
    &__background {
        background:url(../img/blkrck-header-background.jpg) center center no-repeat;
        background-size:cover;
        width:100%;
        height:100%;

        @media only screen and (max-width: $bp-small) {
          background:url(../img/blkrck-header-background-mobile.jpg) center center no-repeat;
          background-size:cover;
        }

    }

    &__arrow {
        box-sizing: border-box;
        height: 5vw;
        width: 5vw;
        border-style: solid;
        border-color: #9DC0F0;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 15ms ease-in-out;

      

    }

    .arrow {
      cursor: pointer;
      height: 120px;
      left: 50%;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%) translateY(-10%) rotate(90deg);
      transition: transform .1s;
      width: 30px;
      animation: pulse 1s ease-in-out infinite;
      $transition-time: .15s;

      @media only screen and (max-width: $bp-small) {
        width: 25px;
        transform: translateX(-50%) translateY(10%) rotate(90deg);
        height: 100px;
        display: none;
      }
    
    &-top,
    &-bottom {
      background-color: #fff;
      height: 4px;
      left: -5px;
      position: absolute;
      top: 50%;
      width: 100%;
      
      &:after {
        background-color: $color-primary;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: all $transition-time;
      }
    }
    
    &-top {
      transform: rotate(45deg);
      transform-origin: bottom right;
      
      &:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
      }
    }
    
    &-bottom {
      transform: rotate(-45deg);
      transform-origin: top right;
      
      &:after {
        left: 0;
        right: 100%;
        transition-delay: $transition-time;
      }
    }
    
    &:hover & {
      
      &-top:after {
        left: 0;
        transition-delay: $transition-time;
      }
  
      &-bottom:after {
        right: 0;
        transition-delay: 0s;
      }
    }
    
    &:active {
  
    }
  }
}

@keyframes pulse {
    0% {
      bottom: 0;
    }
    50% {
        bottom: -10px;
    }
    100% {
        bottom: 0;
    }
  }


  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    @media only screen and (max-width: $bp-largest) {
      height: auto;
    }
  }

  #loadingIcon {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    text-align: center;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    color: #ffff;
  }


    